<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <a href="#"><img src="assets/images/logo.png" alt="Logo"></a>
    </div>
    <div class="logo__text">Все права защищены, 2020</div>
    <a href="{{ instagramLink }}" target="_blank" class="social">
      <div class="social__image">
        <img src="../../../assets/images/instagram.png" alt="Instagram">
      </div>
      <div class="social__text">Мы в Instagram</div>
    </a>
    <div class="phone footer__phone">{{ phone }}</div>
  </div>
</footer>
