@import "../../styles/varibles";

.advantage {
  .advantage__number {
    display: flex;
    border-radius: 50%;
    background-color: $border_and_background;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: end;
    font-size: 60px;
    font-family: GilroyEctraBold, sans-serif;
    color: white;
    line-height: 0.75;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .advantage__title {
    font-size: 20px;
    font-family: GilroyEctraBold, sans-serif;
    color: rgb(51, 25, 7);
    margin-top: 13px;
  }

  .advantage__text {
    font-size: 15px;
    font-family: GilroyMedium, sans-serif;
    color: rgb(51, 25, 7);
    line-height: 1.333;
    margin-top: 13px;
  }
  &:hover .advantage__number {
    background-color: $background;
    color: $border_and_background;
  }
}

@media screen and (max-width: 899px) {
  .advantage {
    max-width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    &:nth-child(2n) {
      justify-self: left;

    }
    &:nth-child(odd) {
      justify-self: right;
    }
  }
}

@media screen and (max-width: 425px) {
  .advantage {
    margin: 0;
    .advantage__title {
      font-size: 18px;
      line-height: 1;
    }
    .advantage__text {
      font-size: 13px;
      line-height: 18px;
    }
  }
}
